;; shadow-cljs configuration
{:source-paths
 ["src/cljs"
  "src/cljc"]

 :dependencies
 [[reagent "0.8.1"] ; react
  [re-frame "0.10.6"] ; reagent framework
  [day8.re-frame/http-fx "0.1.4"]
  [prismatic/dommy "1.1.0"] ; Selectors
  [bidi "2.1.2"] ; Routing
  [com.andrewmcveigh/cljs-time "0.4.0"]
  [kibu/pushy "0.3.8"] ; URL history
  [cljs-ajax "0.7.2"]]

 :builds
 {:frontend
  {:target :browser
   :output-dir "resources/public/js"
   :modules {:main {:init-fn roomkey.app/start}}}}}
